@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --gray: #222222;
  --red: #fc200c;
  --green: #39b24a;
  --lightWhite: #f3f3f3;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--lightWhite);
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--gray);
  color: var(--white);
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
header h1 {
   margin-left: 10px;
}

header nav ul {
  display: flex;
  gap: 13px; /*con esta propiedad ya genero los espacios que necito en el li*/
}

/*header nav ul li {
  margin: 0 13px;
}*/

header .header__logo {
 display: flex;
 align-items: center;
 
}

header .header__logo span,
footer .footer__logo span {
  color: var(--green);
}
header .header__logo span:nth-child(2),
footer .footer__logo span:nth-child(2) {
  color: var(--red);
}
.kangrebur{
  display: none;
}

main {
    padding: 35px 0px;
    /* Alto del main: alto viewport - alto Header - alto Footer 
       Me aseguro que el main ocupa todo el alto disponible */
    min-height: calc(100vh - 100px - 150px);  
    display: flex;
    justify-content : center;
    align-items: center;
}

main .container {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 gap: 10px;
}

main section .card {
  border-radius: 5px;
  height: 21.875rem; /* 350px/16px (16px=1rem) */
  width: 30.625rem;  /* 490px/16px (16px=1rem) */
  flex-grow: 1;
}

main section .delivery {
  background: url("../img/delivery.jpg");
  color: var(--red);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  background-size: cover;
}
main section .delivery span {
  color: var(--lightWhite);
}

main section .podio {
  background: #fff;
  font-weight: bold;
  /*display: flex;*/
}
main section .podio h3 {
  color: var(--red);
  font-size: 24px;
  text-align: center;
  padding: 26px;
  width: 100%;
}
.podio .top5 .podio__pizzas h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.top5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top5 .podio__pizzas ol li {
  padding: 10px 0px;
}

/*.top5 .podio__img {
  padding-bottom: 60px;
 display: flex;
}*/

footer {
  background: #222;
  padding: 19px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;

}

footer .footer__logo {
  color: var(--lightWhite);
  font-size: 14px;
  display: flex;
  align-items: center;
  
  
}

footer ul {
  color: var(--lightWhite);
  display: flex;
  flex-direction: column;
}

footer ul li {
  margin: 8px 5px;
}

footer ul li:last-child {
  order: -1;
}

footer ul li:first-child {
  order: -2;
}

footer h1 {
  margin-left: 10px;
}
@media screen and (max-width:  768px) {
   /* - Ocultar los botone de nav (del header)
      - Añadir el ícono hamburguesa */
      .kangrebur {
        display: flex;
        font-size: 40px;
      }

      header nav {
        display: none;
      }

      main .container {
        flex-direction: column;
        align-items   : center;
      }
}